<div class="container margin-top">
  <div class="row">
    <div class="offset-md-3 col-md-6 mb-3 info">
      404 Page Not Found
    </div>
    <div class="offset-md-3 col-md-6 mb-3 info">
        Oups, il semblerait que vous vous soyez perdu..
    </div>
    <div class="offset-md-3 col-md-6 mb-3 info">
      Besoin d'aide ? Pour retourner à l'accueil cliquez <a routerLink="" class="link">ici</a>.
    </div>
    <div class="offset-md-3 col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
</div>
